extends layout

block content
    header
        i.nes-icon
        h1 Texx
        p Decentralized and encrypted communication
    section.nes-container.with-title
        h2.title Chat Window
        .containers
            pre#messages.nes-container.with-title
        .form.nes-container.with-title
            .field
                label(for='message') Message
                textarea#message.nes-textarea
            button#message_form.nes-btn.is-primary(type=submit) Submit
        .nes-container.with-title
            .field
                label(for='user_id') Your friend's ID
                input#user_id.nes-input
            button#user_id_form.nes-btn.is-primary(type=submit) Submit
