extends layout

block content
    button.button.add-user-button.is-big.is-outlined.is-info(toggle-contact-modal)
        i.fas.fa-plus

    .columns.level.main
        .section.column.level-right
            #messages
            .message-field
                input#message.message-input.input(placeholder='Enter a message')
                button#send_message.message-button.button.is-success(type=submit)
                    i.fas.fa-paper-plane

    .modal#add_contact_modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Add a contact
                button.delete(aria-label='close', toggle-contact-modal)
            section.modal-card-body
                input#user_id.input.is-focused(placeholder='Contact ID')
            footer.modal-card-foot
                button#add_user_id.button.is-success(toggle-contact-modal) Add
                button.button(aria-label='close', toggle-contact-modal) Cancel
