extends layout

block content
    //-
     index.pug
     Copyright (c) 2019, Texx
     License: MIT
         See https://github.com/texxme/Texx/blob/master/LICENSE

    .chat#chat
        .contacts-wrapper
            .is-multiline#contact_list
                .logo
                    img(src='texx.png')
                button.button.action-button.is-big.is-outlined.is-info#add_contact
                    i.fas.fa-plus

        .main-window
            button.button.action-button.is-big.is-outlined.is-success#call
                i.fas.fa-phone
            button.button.action-button.is-big.is-outlined.is-warning#logout
                i.fas.fa-sign-out-alt
            button.button.action-button.is-big.is-outlined.is-dark#anonymize
                i.fas.fa-mask
            button.button.action-button.is-big.is-outlined.is-danger#delete
                i.fas.fa-trash

            audio#audio
            .section.message-wrapper#message_window_wrapper
        .message-field
            input#message.message-input.input(placeholder='Enter a message')
            button#send_message.message-button.button.is-success(type=submit)
                i.fas.fa-paper-plane

    .enter-pin#enter_pin
        .title.has-text-centered Enter a passphrase:
        .subtitle.has-text-centered#pin_message
        .columns.is-centered.is-flex.pin-wrapper
            .column.is-centered.is-flex
                input#1(type='text', maxlength=1, min=0, max=9)
            .column.is-centered.is-flex
                input#2(type='text', maxlength=1, min=0, max=9)
            .column.is-centered.is-flex
                input#3(type='text', maxlength=1, min=0, max=9)
            .column.is-centered.is-flex
                input#4(type='text', maxlength=1, min=0, max=9)
