@font-face {
  font-family: "Kongtype";
  src: url("/kongtext.ttf") format("truetype");
}

* {
  font-family: "Kongtype" !important;
}

body {
  padding: 0 2rem !important;
  margin: 2rem !important;
}
